<ion-header>
    <ion-navbar color="archive">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <ion-icon name="archive"></ion-icon>
            <span>Completed Tasks</span></ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="tasks">
        <ion-list *ngFor="let task of tasks" #item class="{{task.style}}">
            <ion-item (click)="openTaskDetail($event, task)">
                <ion-row align-items-start>
                    <ion-col col-8>
                        <h3 class="t_title">{{task.title}}</h3>
                        <p text-wrap class="t_desc">{{task.description}}</p>
                    </ion-col>
                    <ion-col col-4 text-right>
                        <span text-wrap class="t_date">Completed: {{task.dateUpdated}}
                            <ion-icon *ngIf="task.recurring" small name="sync"></ion-icon>
                        </span>
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-list>
    </div>
    <div [hidden]="tasks">
        <ion-spinner></ion-spinner>
        <h4>Loading Tasks . . . Please Wait</h4>
    </div>
</ion-content>