page-home {
    .bold * {
        font-weight: bold;
    }
    .italic * {
        font-style: italic;
    }
    .due * {
        color: #0053A7;
    }
    .overdue * {
        color: #A21863;
    }
}