<ion-header>
    <ion-navbar color="secondary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <ion-icon name="list-box"></ion-icon>
            <span>Tasks</span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="tasks">
        <ion-list>
            <ion-item-sliding *ngFor="let task of tasks" #item class="{{task.style}}">
                <ion-item (click)="openTaskDetail($event, task)">
                    <ion-row>
                        <ion-col col-10>
                            <h3 class="t_title">{{task.title}}</h3>
                            <p text-wrap class="t_desc">{{task.description}}</p>
                        </ion-col>
                        <ion-col col-2>
                            <ion-icon name="{{task.flag}}" large item-end color="{{task.flagcolor}}"></ion-icon>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-12>
                            <ion-row>
                                <ion-col col-6 text-left *ngIf="task.category">
                                    <p>Category:
                                        <ion-icon name="{{categories[task.category].icon}}"></ion-icon> {{categories[task.category].name}}
                                    </p>
                                </ion-col>
                                <ion-col col-6 text-right>
                                    <span class="t_date">Due: {{task.dateScheduled}}
                                        <ion-icon *ngIf="task.recurring" small name="sync"></ion-icon>
                                    </span>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-item>
                <ion-item-options side="left">
                    <button ion-button (click)="completeTask(item, task)">
                        <ion-icon name="checkmark-circle-outline"></ion-icon>
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </div>
    <button ion-button color="success" (click)="openNewTaskPage()" icon-left float-right>
        <ion-icon name="add-circle"></ion-icon>
        <span>New Task</span>
    </button>
</ion-content>