page-tasks {
    .bold * {
        font-weight: bold;
    }
    .italic * {
        font-style: italic;
    }
    .overdue * {
        color: red;
    }
    .completed * {
        display: none;
    }
}